mixin header()
	row.headerBg
		columns(small="12" large="12")
			spacer(size="30")
			a(href="https://example.com")
				center
					img.logoHeader(src='/assets/img/logo.png' width='161px' heigth='36px')
			spacer(size="30")
			center
				h1.title.headerTitle Thanks for using product!
				p.description.headerDesc Text line 
					br 
					| Text line  
					br 
					| Text line 
					br
					| Text line