.pdSides-4 {
	.wrapper-inner {
		padding: 0 4px;
	}
}
.borderRS {
	border: 1px solid #dcdcdc;
  border-radius: 10px;
  border-collapse: separate;
}
.titleInvite {
	font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
.inviteCode {
	font-weight: 500;
  color: #000000;
}
.titleInvite {
	font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
.descriptionInvite {
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #787878;
}
.inviteCode {
	font-weight: 600;
  color: #000000;
}
th.columns {
	padding-bottom: 0;
}
.phoneDesktop {
  width: 123px !important;
  height: 120px !important;
}
.phoneMobile {
  width: 117px !important;
  height: 132px !important;
}