mixin invite()
	wrapper.pdSides
		spacer(size="20")
			row.borderRS
				columns(small="12" large="12")
					wrapper.pdSides-zero
						row 
							columns(small="12" large="12")
								row
									columns(small="12" large="6" class="hide-for-large")
										spacer(size="8")
										center
											img(class="float-center phoneMobile" src="/assets/img/phone-mobile.png" width="123px" height="149px")
										spacer(size="28" class="hide-for-large")
									columns(small="11" large="6" valign="middle")
										div.titleInvite(class="text-left") Invite friends and family.
										spacer(size="6")
										div.descriptionInvite(class="text-left") Text text text text text text text text  Share code:&nbsp;
											span.inviteCode DDDFS5
										spacer(size="20" class="hide-for-large")
									columns(large="6" class="show-for-large")
										img(class="float-center phoneDesktop" src="/assets/img/phone.png" width="123px" height="120px")