mixin head(data)
	title= data.title
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width")
	link(rel="stylesheet", href="/assets/css/main.css")
	<!-- <style> -->