.pdSides-4 {
	.wrapper-inner {
		padding: 0 4px;
	}
}
.menu-link {
	text-decoration: none;
	display: block;
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fc4654;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  &:hover{
  	color: #CC2944;
  }
}
.pdZero {
  padding: 0 !important;
}